#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app_contianer {
    display: flex;
    gap: 250px;
    flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result {
  border: 1px solid white;
  height: 24px;
}
input {
    width: 300px;
}

.button-check {
    border: 1px solid white ;
    border-radius: 0;
}